# 1PanelInfoProvider 插件配置示例

# 1Panel 应用的 URL (例如 http://your-1panel-domain:port)
PanelBaseUrl=http://your-1panel-domain:port

# 1Panel OpenAPI Key
PanelApiKey=xxxxxxxxxxxxxxxxxxxxxxxx

# 是否为此插件启用调试模式 (True/False)
DebugMode=False

# 是否启用此插件 (True/False)
Enabled=True
