# SciCalculator dependencies
sympy
scipy
numpy

# Wan2.1VideoGen dependencies
requests==2.31.0
python-dotenv==1.0.0
Pillow==11.0.0

# MCP-O
psutil>=5.9.0
mcpo

# 天体位置计算和天文学
skyfield

# Windows通知

win10toast