# 访问API服务器的凭证和地址
DeepSearchKey=sk-YourAPIKeyHere
DeepSearchUrl=http://YourApiServerUrl/v1/chat/completions

# 定义主研究模型，负责生成关键词和最终报告
DeepSearchModel=gemini-2.5-flash-preview-05-20-thinking
DeepSearchModelContent=1000000
DeepSearchModelMaxToken=60000

# 定义搜索辅助模型，负责执行并行的联网搜索
GoogleSearchModel=gemini-2.5-flash-lite-preview-06-17-thinking
GoogleSearchModelContent=500000
GoogleSearchModelMaxToken=50000

# 定义辅助搜索队列的并发上限
MaxSearchList=5