{
  "小克": {
    "tags": [
      "理科:1.2",
      "数学:1.1",
      "物理" ,
      "科学:0.6"
    ],
    "threshold": 0.7
  },
  "VCP开发进度": {
    "tags": [
      "编程:1.3",
      "软件工程",
      "项目管理:0.8",
      "代码" ,
      "功能开发:1.1"
    ],
    "threshold": 0.65
  },
  "世界观设定集": {
    "tags": [
      "历史",
      "地理",
      "文化",
      "幻想世界"
    ]
  }
}
