# Arxiv API settings for ArxivDailyPapers plugin

# The search query for Arxiv API. 
# Example: all:(\"Large Language Models\" OR \"Retrieval Augmented Generation\")
ARXIV_SEARCH_TERMS='all:("Long-read Sequencing" OR metagenome OR "microbial genomics" OR "pathogen detection")'

# Number of results to fetch from Arxiv API.
ARXIV_MAX_RESULTS=300

# Number of days to fetch papers from, including today (e.g., 1 for today, 2 for today and yesterday).
ARXIV_DAYS_RANGE=30

# Enable debug mode for more verbose logging. Set to true or false.
ARXIV_DEBUG_MODE=false