# Optional: Specify the directory where emails are stored.
# If commented out, it defaults to '../IMAPIndex/mail_store'.
# Use absolute paths or paths relative to the VCP host's root directory.
# MAIL_INDEX_DIR=../IMAPIndex/mail_store

# Optional: Set the default number of search results to return per page.
# If commented out, it defaults to 5.
# SEARCH_RESULT_LIMIT=5