# 设置获取未来天气预报的天数。
# 范围: 1-30, 默认值: 7
forecastDays=7

# 设置24小时天气预报的更新频率。
# hourlyForecastInterval: 每隔多少小时获取一次。默认值: 2
# hourlyForecastCount: 总共获取多少次。默认值: 12
# 示例: interval=2, count=12 将会获取未来24小时内、每2小时一次的天气数据。
hourlyForecastInterval=2
hourlyForecastCount=12